:root {
  --primary-color: rgb(154, 92, 212);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: unset;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/*header*/
header {
  width: 100%;
  border-bottom: 1px solid rgb(232, 221, 241);
  position: sticky;
  top: 0;
  background: #fff;
}

.headerMainContainer {
  max-width: 900px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

section {
  width: 100%;
  max-width: 900px;
  min-height: 70vh;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-margin-top: 80px;
}

.avatar {
  cursor: pointer;
  color: var(--primary-color);
  font-weight: 500;
  border-radius: 50%;
  padding: 10px;
}
.menuContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}
.menuContainer a {
  font-weight: 500;
  text-decoration: unset;
  color: gray;
}
.menuContainer a:hover {
  cursor: pointer;
  color: var(--primary-color);
}

/**/
footer {
  text-align: center;
  padding: 20px 0px;
}
.copyRight {
  font-family: monospace;
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.5);
}

/*tab*/
@media (min-width: 768px) and (max-width: 1023px) {
  section {
    max-width: unset;
    width: unset;
    min-height: 60vh;
  }
}

/*mobile*/
@media (max-width: 767px) {
  section {
    max-width: unset;
    width: unset;
    margin-bottom: 70px;
    min-height: 100vh;
  }
  .menuContainer {
    display: none;
  }
}
